<div style="margin-top: 6em;" #contact>
    <div class="card flex-btw">
        <div class="left">
            <div class="sub-topic">My Contacts</div>

            <div class="flex-el mt-1">
                <div>
                    <mat-icon style="color: red;">location_on</mat-icon>
                </div>
                <div class="detail">Abuja, Nigeria.</div>
            </div>

            <div class="flex-el">
                <div>
                    <mat-icon style="color: blue;">phone</mat-icon>
                </div>
                <div class="detail">(+234) 0816 593 1631, (+234) 0909 432 1717</div>
            </div>

            <div class="flex-el mb-1">
                <div>
                    <mat-icon style="color: #005d97;">mail</mat-icon>
                </div>
                <div class="detail">mohdmubeen137@gmail.com</div>
            </div>

            <div class="sub-topic">Reach me on:</div>

            <div class="grid">
                <div class="flex-el social" *ngFor="let social of socialLinks" #socialElement (mouseover)="animate(socialElement)">
                    <span [ngStyle]="{'background': social.color}"></span>
                    <div><img [src]="social.icon" id="social-img" alt=""></div>
                    <div class="social-text">{{social.handle}}</div>
                </div>
            </div>
        </div>

        <div class="right">
            <img src="assets/img/profile-pic.jpg" class="bottom-image">
        </div>
    </div>
</div>

<div class="divider" style="margin: 20px 0;">
    <mat-divider class="divide"></mat-divider>
</div>

<div>
    <div class="flex-btw" style="padding: 0 30px;">
        <div class="flex-el">
            <mat-icon>diamond</mat-icon> Mking
        </div>

        <div class="detail">&copy; Copyright 2022. Powered by the Author.</div>
    </div>
</div>