<div class="intro-wrap">
    <div class="top">
        <div class="name fade">Abdulhameed Mubeen</div>
        <div class="title fade delay-1">Front-End Web Application Designer</div>
        <div class="location fade delay-2">Based in Nigeria</div>
    </div>

    <div class="mid-section">
        <div class="left">
            <div class="topic slide-top">Biography</div>
            <div class="detail slide-in-left delay-1">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore asperiores quos enim
                expedita nostrum sit!
            </div>

            <div class="topic slide-top">Contact</div>
            <div class="detail slide-in-left delay-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>

            <div class="topic slide-top">Services</div>
            <div class="detail slide-in-left delay-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </div>

        <div class="center fade delay-3 ">
            <div><img class="image" src="assets/img/profile-pic.jpg" alt="Profile Pic"></div>
        </div>

        <div class="right">
            <div class="topic slide-top">Years of Experience</div>
            <div class="detail amount slide-in-right delay-1">5</div>

            <div class="topic slide-top">Customer Satisfaction</div>
            <div class="detail amount slide-in-right delay-1">100%</div>

            <div class="topic slide-top">Projects Done</div>
            <div class="detail amount slide-in-right delay-1">30</div>
        </div>
    </div>

    <div class="logo-section">
        <div class="subject">I have worked with</div>
        <div class="logo-cover" [ngClass]="{'logo-cover': true, 'dark': isDark}">
            <div *ngFor="let logo of logoList" class="logo">
                <img [src]="logo" style="width: 100%; height: 100%;">
            </div>
        </div>
    </div>
</div>