@import '../../assets/scss/theme.scss';

.intro-wrap{
    margin: 5% auto 0
}

.top{
    text-align: center;
    line-height: 1.5;

    .name{
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .title{
        font-size: 30px;
        font-weight: 600;
    }
    .location{
        font-size: 20px;
        font-weight: 500;
    }
}

.mid-section{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    margin-top: 5em;

    .left{
        width: 30%;
        text-align: left;
    }

    .center{
        width: 40%;
        display: flex;
        justify-content: center;

        .image{
            padding: 20px;
            border: 1px solid var(--text-color);
            border-radius: 14em;
            height: 54vh;
            width: 23em;
        }
    }

    .right{
        width: 30%;
        text-align: right;
    }
}

.logo-section{
    padding: 40px 0;

    .subject{
        text-align: center;
        font-size: 13px;
        font-weight: 500;
    }
    
    .logo-cover{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px 0;
        flex-wrap: wrap;

        &.dark{
            background: #333333;
            border-radius: 20px;
            border: 1px dashed #eee;
        }
    
        .logo{
            width: 60px;
            padding-top: 20px;
        }
    }
}

.fade-in {
    animation: fade-in-bottom 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
    
@keyframes fade-in-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-to-top{
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-left{
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-right{
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.delay-1 {
    animation-delay: 0.5s;
}
    
.delay-2 {
    animation-delay: 0.9s;
}
    
.delay-3 {
    animation-delay: 1.3s;
}

.delay-4 {
    animation-delay: 1.7s;
}

.delay-5 {
    animation-delay: 2.1s;
}

.delay-6 {
    animation-delay: 2.5s;
}

.delay-7 {
    animation-delay: 2.9s;
} 