<div class="nav">
    <app-nav-bar></app-nav-bar>
</div>

<div class="body-wrap">
    <!-- section for summary -->
    <app-intro></app-intro>

    <!-- section for skills, experience and Projects -->
    <app-skills></app-skills>

    <!-- section for contact and footer -->
    <app-footer></app-footer>
</div>

<div [ngClass]="{'hide': isScroll, 'scroll-to-top': !isScroll}">
    <button mat-icon-button color="primary" style="height: 100%; width: 100%;" (click)="toTop()">
        <mat-icon id="ico">expand_less</mat-icon>
    </button>
</div>