@import '../../assets/scss/theme.scss';
@import '../../assets/scss/mixins.scss';

.cover-nav{
    padding: 25px 15%;
    transition: all 1.5s;

    &.style{
        // background-color: var(--bkg-color);
        box-shadow: 0 6px 10px -2px var(--shadow-color);
        margin: 30px auto;
        width: 68%;
        padding: 25px 2%;
        background: var(--blur-bkg);
        // opacity: 0.7;

        @include for-menu-mobile{
            margin: 0 auto;
            width: 100%;
        }
    }
}

.blur{
    width: 100%;
    height: 100%;
    filter: blur(3px);
    position: absolute;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .links{
        width: 20%;
        justify-content: space-between;
        align-items: center;
        display: flex;

        @include for-desktop-up{
            width: 50%;
        }

        .link{
            cursor: pointer;
            position: relative;

            &:hover{
                font-weight: 500;
            }
        }
        
        .active-link{
            content: "";
            padding: 2px;
            position: absolute;
            top: 20px;
            left: 50%;
            right: 5%;
            // background: var(--btn-bg-color);
            // border-radius: 50%;
            background-color: blue;
        }
    }
}