<div [ngClass]="{'cover-nav': true, 'style': !isScroll}">
    <div class="nav darkMode">
        <!-- <div class="blur"></div> -->
        <div style="width: 20%;" class="flex-el">
            <mat-icon>diamond</mat-icon> Mking
        </div>

        <div class="links">
            <div class="link" (click)="scrollToSection('skill')">
                <div>Skills</div>
                <div [ngClass]="{'active-link': scrollTo == 'skill'}"></div>
            </div>

            <div class="link" (click)="scrollToSection('project')">
                <div>Projects</div>
                <div [ngClass]="{'active-link': scrollTo == 'project'}"></div>
            </div>

            <div class="link" (click)="scrollToSection('contact')">
                <div>Contact</div>
                <div [ngClass]="{'active-link': scrollTo == 'contact'}"></div>
            </div>
        </div>

        <div style="width: 20%; text-align: end;" class="flex-end">
            <!-- <button mat-icon-button color="primary" (click)="changeTheme(false)"> -->
            <mat-icon style="color: gold;">light_mode</mat-icon>
            <!-- </button> -->
            <mat-slide-toggle color="primary" [(ngModel)]="theme" (change)="changeTheme($event.checked)">
            </mat-slide-toggle>
            <!-- <button mat-icon-button color="primary" (click)="changeTheme(true)"> -->
            <mat-icon>dark_mode</mat-icon>
            <!-- </button> -->
        </div>
    </div>
</div>